*{
  padding: 0;
  margin: 0;
}
body{
  overflow-x: hidden;
}
#task3_1{

  height: 120vh;
}
#content1{
  top: 0;
  width: 100%;
  position: sticky;
  padding: 10px;
  background-color: blanchedalmond;
}
#task3_2{

  height: 30vh;
}

#content2{
  position: fixed;
  left: 50%;
  top: 35%;
  width: 100%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: blanchedalmond;
}
#task3_3{

  height: 50vh;
}

#content3{
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  padding: 10px;
  background-color: blanchedalmond;
}
#task3_4{
  background-color: rgb(206, 227, 246);
  height: 65vh;
}

#content4{
  width: 100%;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  position: relative;
  padding: 10px;
  background-color: blanchedalmond;
}