#title {
  color: blue;
  text-align: center;
}

.highlight {
  background-color: yellow;
  padding: 5px;
}

.box {
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
}
span{
  background-color: rgb(196, 196, 196);
  border-radius: 3px;
  padding: 0 5px;
}