body{
  margin: 0;
  padding: 0;
}
.container{
  height: 500vh;
 
}

#Task2_1{
  height: 90vh;
  background-color: rgb(178, 216, 250);
  display: flex;
  justify-content: center;

}
#content1{
  background-color: bisque;
   padding: 10px;
   height: 20px;
  
}
#Task2_2{
  height: 90vh;
  background-color: rgb(178, 216, 250);
  display: flex;
  align-items: center;

}
#content2{
  background-color: bisque;
   padding: 10px;
   height: 20px;
  
}
#Task2_3{
  height: 90vh;
  background-color: rgb(178, 216, 250);
  display: flex;
  justify-content: center;
  align-items: center;

}
#content3{
  background-color: bisque;
   padding: 10px;
   height: 20px;
  
}
